
.d3-tip {
     line-height: 1;
     font-weight: bold;
     padding: 12px;
     background: rgba(0, 0, 0, 0.8);
     color: #fff;
     border-radius: 2px;
}

input[type="checkbox"] {
    margin: 4px 4px 0;
}

table thead { display:block; }
table tbody { height:300px; overflow-y:scroll; display:block; }
